<div *ngIf="workDayList">
  <ngb-datepicker [(ngModel)]="model" [dayTemplate]="customDay" ngbDatepicker #d="ngbDatepicker" (select)="setSelectedDate($event)"></ngb-datepicker>
  <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused" >
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
        [class.selected]="selected" [class.hidden]="date.month !== currentMonth"
        [class.text-muted]="disabled" [class.disabled]="isDisabled(date)">
    {{ date.day }}
  </span>
</ng-template>
</div>
<!--<div style="background: red; width: 1000px" *ngIf="selectedDate">-->
<!--  {{selectedDate.day}}-->
<!--</div>-->

