<div class="container p-5 d-flex align-items-center justify-content-center">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input [(ngModel)]="regionName" (input)="inputToGetRegion()"
             (keyup)="clickToSelectRegion($event)" (keydown.backspace)="clickBackSpace()"
             placeholder="Name of the region" list="regions" maxlength="25"
             class="input-group-text col-md-8 form-control mr-1" id="region"/>
      <div class="input-group-append">
        <label class="input-group-text pr-4" id="basic-addon2" for="region">Region</label>
      </div>
    </div>
    <datalist id="regions" *ngIf="regionNames && regionNames.length; else noRegions">
      <div *ngIf="!region">
        <option *ngFor="let reg of regionNames" [value]="reg">{{reg}}</option>
      </div>
    </datalist>
    <ng-template #noRegions>
      <div class="alert alert-warning m-0 col-md-8" *ngIf="regionName">{{regionName}} not found</div>
    </ng-template>
    <div *ngIf="region">
      <app-hospital-search [region]="region"></app-hospital-search>
    </div>
  </div>
</div>

