<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Visit Date</th>
            <th scope="col">Time Slot Number</th>
            <th scope="col">Customer</th>
            <th scope="col">Service</th>
            <th scope="col">Visit Result</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeSlot of timeSlots">
            <td>{{ timeSlot.id }}</td>
            <td>{{ timeSlot.visitDate }}</td>
            <td>{{ timeSlot.timeSlotNumber }}</td>
            <td>{{ timeSlot.customer }}</td>
            <td>{{ timeSlot.service }}</td>
            <td>{{ timeSlot.visitResult }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>