input.form-control {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid gray !important;
  border-radius: 0;
}

input.form-control.ng-touched.ng-invalid {
  border-bottom: 2px solid red !important;
}
