<h3 class="text-center text-secondary mb-3">
  <button type="button" class="float-left rounded-circle btn" (click)="closeEvent.emit(false)">
    <i class="fas fa-chevron-left"></i>
  </button>
  Email Verification
</h3>

<form [formGroup]="form" *ngIf="!isCodeSending; else codeSending">
  <!-- alert -->
  <div class="col-12 px-3">
    <div class="alert alert-info mb-2 py-2 alert-dismissible fade show" role="alert">
      Verification code was sent to email {{censorEmail(email)}}
      <button type="button" class="close py-1" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <!-- code input -->
  <mat-form-field class="col-12">
    <input matInput type="text" aria-label="Verification Code" placeholder="Code"
           formControlName="code" autofocus>
    <mat-error *ngIf="hasError('code', 'wrongCode')">
      The code you've entered is wrong
    </mat-error>
  </mat-form-field>

  <!-- error message -->
  <div *ngIf="errorMessage" class="col-12 alert alert-danger px-3">
    {{errorMessage}}
  </div>

  <div class="col-12 pt-1">
    <!-- confirm button -->
    <button type="submit" class="btn btn-primary" (click)="verifyEmail()" [disabled]="form.invalid || isLoading">
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
      <span class="sr-only">Loading...</span>
    </span>
      Confirm
    </button>

    <!-- send code again button -->
    <button type="button" *ngIf="email" class="btn btn-link ml-1" (click)="sendCode()">
      Send code again
    </button>
  </div>
</form>

<!-- loading block -->
<ng-template #codeSending>
  <div class="container text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
