<div class="pt-3">
<table class="table table-striped table-hover" *ngIf="doctors">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Cabinet number</th>
    <th scope="col">Hospital</th>
    <th scope="col">Speciality</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let doc of doctors; index as i" (click)="getCalendarByDoctorId(doc.doctorId)">
    <th id="target" scope="row">{{i + 1}}</th>
    <td>{{doc.firstName}}</td>
    <td>{{doc.lastName}}</td>
    <td>{{doc.cabinetNumber}}</td>
    <td>{{doc.hospital}}</td>
    <td>{{doc.speciality}}</td>
  </tr>
  </tbody>
</table>
<div *ngIf="localDoctorId"><app-datepicker [doctorIdInDatepicker]="localDoctorId"></app-datepicker></div>
</div>

