<div class="parent-div pt-3">
  <div *ngIf="!doctorSpeciality && !doctorLastNameWithSpeciality">
    <div class="input-group mb-3">
      <input [(ngModel)]="doctorNameNoSpeciality" (input)="inputToGetLastName()"
             (keyup)="clickToSelectNameNoSpeciality($event)"
             (keydown.backspace)="clickBackSpaceForDoctorNameNoSpeciality()"
             placeholder="The doctor's name" list="names" maxlength="25"
             class="input-group-text col-md-8 form-control mr-1" id="noSpeciality"/>
      <div class="input-group-append">
        <label class="input-group-text" id="basic-addon3" for="noSpeciality">Last name</label>
      </div>
    </div>
  </div>
  <div *ngIf="doctorLastNameWithSpeciality">
    <div class="input-group mb-3">
      <input [(ngModel)]="doctorNameWithSpeciality" (input)="inputToGetLastNameWithSpeciality()"
             (keyup)="clickToSelectNameWithSpeciality($event)"
             (keydown.backspace)="clickBackSpaceForDoctorNameWithSpeciality()"
             placeholder="The doctor's name" list="namesSpec" maxlength="25"
             class="input-group-text col-md-8 form-control mr-1" id="isSpeciality"/>
      <div class="input-group-append">
        <label class="input-group-text" id="basic-addon2" for="isSpeciality">Last name</label>
      </div>
    </div>
  </div>
  <datalist id="namesSpec"
            *ngIf="doctorLastNameWithSpeciality && doctorLastNameWithSpeciality.length; else noNameSpec">
    <div *ngIf="!doctorsWithNameWithSpeciality">
      <option *ngFor="let name of doctorLastNameWithSpeciality" [value]="name">{{name}}</option>
    </div>
  </datalist>
  <datalist id="names" *ngIf="doctorLastNameNoSpeciality && doctorLastNameNoSpeciality.length; else noName">
    <div *ngIf="!doctorsWithNameNoSpeciality">
      <option *ngFor="let name of doctorLastNameNoSpeciality" [value]="name">{{name}}</option>
    </div>
  </datalist>
  <ng-template #noName>
    <div class="alert alert-warning m-0 col-md-8" *ngIf="doctorNameNoSpeciality">
      {{doctorNameNoSpeciality}} not found
    </div>
  </ng-template>
  <ng-template #noNameSpec>
    <div class="alert alert-warning m-0 col-md-8" *ngIf="doctorNameWithSpeciality && doctorSpeciality">
      {{doctorNameWithSpeciality}} not found
    </div>
  </ng-template>
  <div>
    <app-doctor-list [doctorsList]="checkingDoctorsForOutput()"></app-doctor-list>
  </div>
</div>
