<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Doctor From</th>
            <th scope="col">Doctor To</th>
            <th scope="col">ExpirationDate</th>
            <th scope="col">User</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let referral of referrals">
            <td>{{ referral.id }}</td>
            <td>{{ referral.description }}</td>
            <td>{{ referral.doctorFrom }}</td>
            <td>{{ referral.doctorTo }}</td>
            <td>{{ referral.expirationDate }}</td>
            <td>{{ referral.user }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
