/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button:focus, button.focus {
  box-shadow: none ;
  outline: none;
}

app-datepicker > div {
  display: flex;
  justify-content: center;
}
ngb-datepicker {
  font-size: 2rem;
}
.ngb-dp-day {
  width: 4rem !important;
  height: 4rem !important;
}
.ngb-dp-day:focus {
  outline: none;
}
.ngb-dp-day > span {
  width: 4rem !important;
  height: 4rem !important;
  line-height: 4rem !important;
  text-align: center;
  display: inline-block;
  border-radius: 0.25rem;
}
.ngb-dp-weekday {
  width: 4rem !important;
  color: rgba( 100, 100, 100, 0.6) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-inherit {
  font-size: inherit;
}
