<h4 class="h4 text-center text-secondary mb-3">
  <!-- back button -->
  <button type="button" class="float-left rounded-circle btn" (click)="closeEvent.emit(false)">
    <i class="fas fa-chevron-left"></i>
  </button>
  Password recovery
</h4>

<div>
  <!-- send code form -->
  <form [formGroup]="sendCodeForm" *ngIf="!isCodeSent; else newPasswordFormBlock">
    <!-- email input -->
    <mat-form-field class="col-12" appearance="legacy">
      <input type="email" matInput aria-label="Email" placeholder="Email" formControlName="email">
      <mat-error *ngIf="hasError(sendCodeForm.controls.email, 'required'); else emailError">
        Email is required
      </mat-error>
      <ng-template #emailError>
        <mat-error *ngIf="hasError(sendCodeForm.controls.email, 'email'); else emailNotExists">
          Invalid email
        </mat-error>
        <ng-template #emailNotExists>
          <mat-error *ngIf="hasError(sendCodeForm.controls.email, 'notExists')">
            User with such email does not exists
          </mat-error>
        </ng-template>
      </ng-template>
    </mat-form-field>

    <!-- buttons -->
    <div class="col">
      <!-- send code button -->
      <button type="submit" class="btn btn-primary mt-1" (click)="sendCode()">
        <span *ngIf="isCodeSending" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </span>
        Send code
      </button>
    </div>
  </form>

  <!-- change password form-->
  <ng-template #newPasswordFormBlock>
    <form [formGroup]="changePasswordForm">
      <!-- alert -->
      <div class="col-12 px-3">
        <div class="alert alert-info mb-2 py-2 alert-dismissible fade show" role="alert">
          Verification code was sent to email {{censorEmail(sendCodeForm.controls.email.value)}}
          <!-- close alert button -->
          <button type="button" class="close py-1" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <!-- code input -->
      <mat-form-field class="col-12" appearance="legacy">
        <input type="text" matInput aria-label="Confirmation code" formControlName="code" placeholder="Code" autofocus>
        <mat-error *ngIf="hasError(changePasswordForm.controls.code,'required'); else codePattern">
          Please enter code
        </mat-error>
        <ng-template #codePattern>
          <mat-error *ngIf="hasError(changePasswordForm.controls.code, 'pattern'); else wrongCode">
            Invalid code
          </mat-error>
        </ng-template>
        <ng-template #wrongCode>
          <mat-error *ngIf="hasError(changePasswordForm.controls.code, 'wrongCode')">
            The code you've entered is wrong
          </mat-error>
        </ng-template>
      </mat-form-field>

      <!-- password input -->
      <mat-form-field class="col-12" appearance="legacy">
        <input matInput [type]="isPasswordShown? 'text': 'password'" placeholder="New Password" aria-label="Password"
               formControlName="password" autocomplete="new-password">
        <i class="far cursor-pointer" *ngIf="changePasswordForm.controls.password.dirty"
           [ngClass]="{'fa-eye': !isPasswordShown, 'fa-eye-slash': isPasswordShown}"
           matSuffix (click)="isPasswordShown = !isPasswordShown"></i>
        <mat-error *ngIf="hasError(changePasswordForm.controls.password,'required'); else passwordErrors">
          Please enter password
        </mat-error>
        <ng-template #passwordErrors>
          <mat-error *ngIf="hasError(changePasswordForm.controls.password, 'pattern'); else passwordLengthError">
            Use numbers, upper and lower case letters (e.g. 123Aa)
          </mat-error>
          <ng-template #passwordLengthError>
            <mat-error *ngIf="hasError(changePasswordForm.controls.password, 'minlength')">
              Use 8 or more characters
            </mat-error>
          </ng-template>
        </ng-template>
      </mat-form-field>

      <!-- confirm password input -->
      <mat-form-field *ngIf="changePasswordForm.controls.password.dirty" class="col-12" appearance="legacy">
        <input matInput [type]="isConfirmPasswordShown? 'text': 'password'" placeholder="Confirm password"
               aria-label="Confirm password" formControlName="confirmPassword">
        <i class="far cursor-pointer" *ngIf="changePasswordForm.controls.confirmPassword.dirty"
           [ngClass]="{'fa-eye': !isConfirmPasswordShown, 'fa-eye-slash': isConfirmPasswordShown}"
           matSuffix (click)="isConfirmPasswordShown = !isConfirmPasswordShown"></i>
        <mat-error *ngIf="hasError(changePasswordForm.controls.confirmPassword, 'required');
          else confirmPasswordErrors">
          Please confirm password
        </mat-error>
        <ng-template #confirmPasswordErrors>
          <mat-error *ngIf="hasError(changePasswordForm.controls.confirmPassword, 'mustMatch')">
            Password does not match
          </mat-error>
        </ng-template>
      </mat-form-field>

      <!-- error message -->
      <div *ngIf="alert" class="col-12 container px-3">
        <div class="alert alert-danger">
          {{alert}}
        </div>
      </div>

      <!-- Buttons -->
      <div class="col">
        <!-- Confirm button -->
        <button type="submit" class="btn btn-primary mt-1" (click)="changePassword()"
                [disabled]="changePasswordForm.invalid || changingPassword">
        <span *ngIf="changingPassword" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </span>
          Confirm
        </button>
      </div>
    </form>
  </ng-template>

</div>
