<div class="modal fade" tabindex="-1" role="dialog"
     [ngClass]="{'show':modalService.isAuthenticationDisplayed}"
     aria-labelledby="modalCenterTitle" aria-hidden="true" (mousedown)="close()">
  <div class="modal-dialog modal-dialog-centered" role="document" (mousedown)="$event.stopPropagation()">
    <div class="modal-content" *ngIf="modalService.isAuthenticationDisplayed">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-left" id="modalCenterTitle">
          {{isSignedUp ? 'Sign In' : 'Sign Up'}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-sign-in *ngIf="isSignedUp; else signUp"></app-sign-in>
        <ng-template #signUp>
          <app-sign-up></app-sign-up>
        </ng-template>
      </div>
      <div class="modal-footer py-2">
        <button class="btn btn-link" (click)="isSignedUp = !isSignedUp">
          {{isSignedUp ? 'Sign Up' : 'Sign In'}}
        </button>
      </div>
    </div>
  </div>
</div>

